@font-face {
  font-family: ComicTypo;
  src: url('./comic_typo2.ttf');
}

@font-face {
  font-family: ComicIcons;
  src: url('./comic_icons.ttf');
}

@font-face {
  font-family: ComicTypoJap;
  src: url('./comic_typo_jap.ttf');
}


